@import 'utilities.css';

/* START PICKING COLOR VARIABLES FOR WEBSITE */
/* ***************************************** */

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --read-more:yellow;
    --knowl:red;
}

/* ********************************* */
/*END OF COLOR VARIABLES FOR WEBSITE */

/* ****************************************************************************************************************************** */


/* RESET */
/* ***** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

/* ***** */
/* RESET */

/* ******************************************************************************************************************************* */

/* START STYLING HEADERS */
/* ********************* */


body{
    font-family: 'Lato', sans-serif;
    height: 4000px;
}


/* ****************************************************************************************************************************** */


/* START STYLING OF NAVIGATION BAR */

header{
    background: var(--dark);
    clip-path:polygon(0 0 , 100% 0 , 100% 100%, 70% 87%, 0 100%)
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right:3rem;
}

/* END STYLING OF NAVIGATION BAR */

/* **************************************************************************************************************************** */


/* START STYLING OF IMAGE 1 */

.myimage1{
    padding: 3rem 0;
    
}

.myimage1 .left img{
width: 400px;
}

.myimage1 .right{
    color: var(--pure);
}

.myimage1 .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.myimage1 .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 2rem;
}

.myimage1 .right h1 span{
    color: var(--primary);
}

.myimage1 .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.myimage1 .right{
    margin-top: -7rem;
}

/* END STYLING OF IMAGE 1 */

/* ****************************************************************************************************************************** */

section{
padding: 6rem 0;

}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}


section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
border-radius: 50%;
margin-right: 0.6rem;
transition: all .3s ease;
}

section.about .social a:hover{
background: var(--primary);
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

/* ******************* */
/* END STYLING HEADERS */

/* ************************************************************************************************************************************************************* */


/* ******************************************************************************************************************************* */

section.our-education{
    background:var(--ternary);
    position:relative;
    z-index:0;
}
section.our-education .card-wrapper{
    margin-right:-2rem;
    margin-top:8rem;
}
section.our-education .education-card{
    background:var(--pure);
    text-align: center;
    padding:2rem;
    padding-top:4rem;
    margin-right:2rem;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
section.our-education .education-card .icon{
    position: absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
} 
section.our-education .education-card h2{
    font-family:'Lato', sans-serif;
    font-size: 1.3rem;
    margin-bottom:1rem;
}
section.our-education .education-card p{
    line-height: 1.6;
    margin-bottom:1rem;
}
.text-primary{
    color:var(--primary);
}

/*************************************************************************************************************************************************************/

/*STARTING OF STYLING SKILLS SECTION/
/***********************************/

section.skill{
    background: var(--light);
    bottom: -40px;
}

/* SKILL CARD */
/************ */
section.skill .skill-slider .skill-card{
    background:var(--pure);
    padding:1.5rem 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* SKILL CARD IMAGE */
/* **************** */

section.skill .skill-slider .skill-card .product-image img{
    width:97%;
    height:200px;
    object-fit:contain;
    padding-bottom:1rem;
}

/* SKILL CARD */
/* ********** */

hr{
    border:1px solid var(--light);
    opacity: 1;
    margin:1rem 0;
}

/* SKILL CARD HEADING */
/* ****************** */

section.skill .skill-slider .skill-card h2{
    font-family:'Lato', sans-serif;
    font-size:1.3rem;
    margin-bottom:0.25rem;
}

/* SKILL TEXT CENTER */
/* ***************** */

.text-center{
    text-align: center;
}

/* SKILL CARD STARS */
/* **************** */

section.skill .skill-slider .skill-card .stars{
    margin-bottom:0.5rem;
}
section.skill .skill-slider .skill-card .stars img{
    margin-right:0.25rem;
}

/* SKILL CARD KNOWLEDGE */
/* ******************** */

section.skill .skill-slider .skill-card .knowledge{
    font-family:'Lato', sans-serif;
    color:var(--knowl);
    margin-bottom: 1rem;
}

/* SKILL CARD BUTTON */
/* ***************** */

section.skill .skill-slider .skill-card button{
    font-family:'Lato', sans-serif;
    color:var(--secondary);
    background:var(--pure);
    border:2px solid var(--read-more);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display:flex;
    align-items: center;
    width:50%;
    font-size:1rem;
    cursor: pointer;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
section.skill .skill-slider .skill-card button:hover{
    background:var(--primary);
    color:var(--pure);
}
.skill-slider .skill-card button img{
    background:var(--read-more);
    padding:0.50rem;
    height:32px;
    margin-right:1.2rem;
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin:0 -27px;
}
.skill .slider-btn{
    width: 30px;
    height:30px;
    border: none;
    background:var(--primary);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    cursor:pointer;
    outline:none;
}

.prev-btn{
    position:absolute;
    top:46%;
    left:-3rem;
    z-index: 1;
}
.next-btn{
    position:absolute;
    top:46%;
    right:-3rem;
    z-index: 1;
}
.skill .slider{
    position: relative;
}
.skill .btn-wrapper{
    margin-top:2rem;
}
.slick-track{
    padding:1rem 0;
}

/***************************************************************************************************************************************************************/ 
/***************************************************************************************************************************************************************/ 

section.contact-us{
    padding-top:0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
}
section.contact-us .map{
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
section.contact-us .contact-info{
    display:flex;
    justify-content: center;
}
section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}
section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Raleway-bold";
    margin-bottom:0.25rem;
}
